
@font-face {
  font-family: "Area_Extended_Regular";
  src: url(../../public/fonts/Area_Extended_Regular.otf);
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Area_Extended_Regular', sans-serif !important; /* Apply the Montserrat font globally */
}

.layout-section {
  margin-left: 40px;
  margin-right: 40px;
}

@media screen and (max-width: 1200px) {
  .layout-section {
  margin-left: 10px;
  margin-right: 10px;
  }
}
   
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
